<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QuizVerbesItaliens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E7F05DF1C2F2C35003A6F21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E7F05F31C2F2C37003A6F21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E7F05FE1C2F2C38003A6F21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
