<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ho</key>
	<array>
		<string>sono</string>
		<string>sei</string>
		<string>è</string>
		<string>siamo</string>
		<string>siete</string>
		<string>sono</string>
	</array>
	<key>hai</key>
	<array>
		<string>sono</string>
		<string>sei</string>
		<string>è</string>
		<string>siamo</string>
		<string>siete</string>
		<string>sono</string>
	</array>
	<key>ha</key>
	<array>
		<string>sono</string>
		<string>sei</string>
		<string>è</string>
		<string>siamo</string>
		<string>siete</string>
		<string>sono</string>
	</array>
	<key>abbiamo</key>
	<array>
		<string>sono</string>
		<string>sei</string>
		<string>è</string>
		<string>siamo</string>
		<string>siete</string>
		<string>sono</string>
	</array>
	<key>avete</key>
	<array>
		<string>sono</string>
		<string>sei</string>
		<string>è</string>
		<string>siamo</string>
		<string>siete</string>
		<string>sono</string>
	</array>
	<key>hanno</key>
	<array>
		<string>sono</string>
		<string>sei</string>
		<string>è</string>
		<string>siamo</string>
		<string>siete</string>
		<string>sono</string>
	</array>
	<key>avevo</key>
	<array>
		<string>ero</string>
		<string>eri</string>
		<string>era</string>
		<string>eravamo</string>
		<string>eravate</string>
		<string>erano</string>
	</array>
	<key>avevi</key>
	<array>
		<string>ero</string>
		<string>eri</string>
		<string>era</string>
		<string>eravamo</string>
		<string>eravate</string>
		<string>erano</string>
	</array>
	<key>aveva</key>
	<array>
		<string>ero</string>
		<string>eri</string>
		<string>era</string>
		<string>eravamo</string>
		<string>eravate</string>
		<string>erano</string>
	</array>
	<key>avevamo</key>
	<array>
		<string>ero</string>
		<string>eri</string>
		<string>era</string>
		<string>eravamo</string>
		<string>eravate</string>
		<string>erano</string>
	</array>
	<key>avevate</key>
	<array>
		<string>ero</string>
		<string>eri</string>
		<string>era</string>
		<string>eravamo</string>
		<string>eravate</string>
		<string>erano</string>
	</array>
	<key>avevano</key>
	<array>
		<string>ero</string>
		<string>eri</string>
		<string>era</string>
		<string>eravamo</string>
		<string>eravate</string>
		<string>erano</string>
	</array>
	<key>ebbi</key>
	<array>
		<string>fui</string>
		<string>fosti</string>
		<string>fu</string>
		<string>fummo</string>
		<string>foste</string>
		<string>furono</string>
	</array>
	<key>avesti</key>
	<array>
		<string>fui</string>
		<string>fosti</string>
		<string>fu</string>
		<string>fummo</string>
		<string>foste</string>
		<string>furono</string>
	</array>
	<key>ebbe</key>
	<array>
		<string>fui</string>
		<string>fosti</string>
		<string>fu</string>
		<string>fummo</string>
		<string>foste</string>
		<string>furono</string>
	</array>
	<key>avemmo</key>
	<array>
		<string>fui</string>
		<string>fosti</string>
		<string>fu</string>
		<string>fummo</string>
		<string>foste</string>
		<string>furono</string>
	</array>
	<key>aveste</key>
	<array>
		<string>fui</string>
		<string>fosti</string>
		<string>fu</string>
		<string>fummo</string>
		<string>foste</string>
		<string>furono</string>
	</array>
	<key>ebbero</key>
	<array>
		<string>fui</string>
		<string>fosti</string>
		<string>fu</string>
		<string>fummo</string>
		<string>foste</string>
		<string>furono</string>
	</array>
	<key>avrò</key>
	<array>
		<string>sarò</string>
		<string>sarai</string>
		<string>sarà</string>
		<string>saremo</string>
		<string>sarete</string>
		<string>saranno</string>
	</array>
	<key>avrai</key>
	<array>
		<string>sarò</string>
		<string>sarai</string>
		<string>sarà</string>
		<string>saremo</string>
		<string>sarete</string>
		<string>saranno</string>
	</array>
	<key>avrà</key>
	<array>
		<string>sarò</string>
		<string>sarai</string>
		<string>sarà</string>
		<string>saremo</string>
		<string>sarete</string>
		<string>saranno</string>
	</array>
	<key>avremo</key>
	<array>
		<string>sarò</string>
		<string>sarai</string>
		<string>sarà</string>
		<string>saremo</string>
		<string>sarete</string>
		<string>saranno</string>
	</array>
	<key>avrete</key>
	<array>
		<string>sarò</string>
		<string>sarai</string>
		<string>sarà</string>
		<string>saremo</string>
		<string>sarete</string>
		<string>saranno</string>
	</array>
	<key>avranno</key>
	<array>
		<string>sarò</string>
		<string>sarai</string>
		<string>sarà</string>
		<string>saremo</string>
		<string>sarete</string>
		<string>saranno</string>
	</array>
	<key>abbia</key>
	<array>
		<string>sia</string>
		<string>sia</string>
		<string>sia</string>
		<string>siamo</string>
		<string>siate</string>
		<string>siano</string>
	</array>
	<key>abbiamo2</key>
	<array>
		<string>sia</string>
		<string>sia</string>
		<string>sia</string>
		<string>siamo</string>
		<string>siate</string>
		<string>siano</string>
	</array>
	<key>abbiate</key>
	<array>
		<string>sia</string>
		<string>sia</string>
		<string>sia</string>
		<string>siamo</string>
		<string>siate</string>
		<string>siano</string>
	</array>
	<key>abbiano</key>
	<array>
		<string>sia</string>
		<string>sia</string>
		<string>sia</string>
		<string>siamo</string>
		<string>siate</string>
		<string>siano</string>
	</array>
	<key>avessi</key>
	<array>
		<string>fossi</string>
		<string>fossi</string>
		<string>fosse</string>
		<string>fossimo</string>
		<string>foste</string>
		<string>fossero</string>
	</array>
	<key>avesse</key>
	<array>
		<string>fossi</string>
		<string>fossi</string>
		<string>fosse</string>
		<string>fossimo</string>
		<string>foste</string>
		<string>fossero</string>
	</array>
	<key>avessimo</key>
	<array>
		<string>fossi</string>
		<string>fossi</string>
		<string>fosse</string>
		<string>fossimo</string>
		<string>foste</string>
		<string>fossero</string>
	</array>
	<key>aveste2</key>
	<array>
		<string>fossi</string>
		<string>fossi</string>
		<string>fosse</string>
		<string>fossimo</string>
		<string>foste</string>
		<string>fossero</string>
	</array>
	<key>avessero</key>
	<array>
		<string>fossi</string>
		<string>fossi</string>
		<string>fosse</string>
		<string>fossimo</string>
		<string>foste</string>
		<string>fossero</string>
	</array>
	<key>avrei</key>
	<array>
		<string>sarei</string>
		<string>saresti</string>
		<string>sarebbe</string>
		<string>saremmo</string>
		<string>sareste</string>
		<string>sarebbero</string>
	</array>
	<key>avresti</key>
	<array>
		<string>sarei</string>
		<string>saresti</string>
		<string>sarebbe</string>
		<string>saremmo</string>
		<string>sareste</string>
		<string>sarebbero</string>
	</array>
	<key>avrebbe</key>
	<array>
		<string>sarei</string>
		<string>saresti</string>
		<string>sarebbe</string>
		<string>saremmo</string>
		<string>sareste</string>
		<string>sarebbero</string>
	</array>
	<key>avremmo</key>
	<array>
		<string>sarei</string>
		<string>saresti</string>
		<string>sarebbe</string>
		<string>saremmo</string>
		<string>sareste</string>
		<string>sarebbero</string>
	</array>
	<key>avreste</key>
	<array>
		<string>sarei</string>
		<string>saresti</string>
		<string>sarebbe</string>
		<string>saremmo</string>
		<string>sareste</string>
		<string>sarebbero</string>
	</array>
	<key>avrebbero</key>
	<array>
		<string>sarei</string>
		<string>saresti</string>
		<string>sarebbe</string>
		<string>saremmo</string>
		<string>sareste</string>
		<string>sarebbero</string>
	</array>
</dict>
</plist>
