<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abitare</key>
	<string>habitar</string>
	<key>accendere</key>
	<string>encender</string>
	<key>acciuffare</key>
	<string>capturar</string>
	<key>accogliere</key>
	<string>recibir</string>
	<key>aiutare</key>
	<string>ayudar</string>
	<key>alzare</key>
	<string>elevar</string>
	<key>amare</key>
	<string>amar</string>
	<key>andare</key>
	<string>Ir</string>
	<key>annoiare</key>
	<string>aburrir</string>
	<key>annuire</key>
	<string>asentir</string>
	<key>apparire</key>
	<string>aparecer</string>
	<key>applaudire</key>
	<string>aplaudir</string>
	<key>apprendere</key>
	<string>aprender</string>
	<key>aprire</key>
	<string>Abrir</string>
	<key>arrivare</key>
	<string>llegar</string>
	<key>arrossire</key>
	<string>rubor</string>
	<key>asciugare</key>
	<string>secar</string>
	<key>ascoltare</key>
	<string>escuchar</string>
	<key>aspettare</key>
	<string>esperar</string>
	<key>avere</key>
	<string>tener</string>
	<key>ballare</key>
	<string>bailar</string>
	<key>bastare</key>
	<string>basta con</string>
	<key>bere</key>
	<string>beber</string>
	<key>bisognare</key>
	<string>necesitar</string>
	<key>bloccare</key>
	<string>bloquear</string>
	<key>cadere</key>
	<string>caer</string>
	<key>cambiare</key>
	<string>cambiar</string>
	<key>cantare</key>
	<string>cantar</string>
	<key>capire</key>
	<string>entender</string>
	<key>cenare</key>
	<string>cenar</string>
	<key>cercare</key>
	<string>buscar</string>
	<key>cessare</key>
	<string>cesar</string>
	<key>chiacchierare</key>
	<string>charlar</string>
	<key>chiamare</key>
	<string>llamar</string>
	<key>chiedere</key>
	<string>preguntar</string>
	<key>chiudere</key>
	<string>cerrar</string>
	<key>cogliere</key>
	<string>tomar</string>
	<key>cominciare</key>
	<string>iniciar</string>
	<key>commettere</key>
	<string>cometer</string>
	<key>completare</key>
	<string>completar</string>
	<key>comprare</key>
	<string>comprar</string>
	<key>condire</key>
	<string>sazonar</string>
	<key>condurre</key>
	<string>conducir</string>
	<key>conoscere</key>
	<string>saber</string>
	<key>conservare</key>
	<string>conservar</string>
	<key>continuare</key>
	<string>continuar</string>
	<key>correre</key>
	<string>correr</string>
	<key>costruire</key>
	<string>construir</string>
	<key>credere</key>
	<string>creer</string>
	<key>crescere</key>
	<string>crecer</string>
	<key>cucinare</key>
	<string>cocinar</string>
	<key>cuocere</key>
	<string>cocinar</string>
	<key>dare</key>
	<string>dar</string>
	<key>decidere</key>
	<string>decidir</string>
	<key>dimenticare</key>
	<string>olvidar</string>
	<key>dire</key>
	<string>decir</string>
	<key>dirigere</key>
	<string>dirigir</string>
	<key>discutere</key>
	<string>discutir</string>
	<key>distrarre</key>
	<string>distraer</string>
	<key>distribuire</key>
	<string>distribuir</string>
	<key>diventare</key>
	<string>convertirse</string>
	<key>divertire</key>
	<string>entretener</string>
	<key>dormire</key>
	<string>dormir</string>
	<key>dovere</key>
	<string>deber</string>
	<key>entrare</key>
	<string>entrar</string>
	<key>esitare</key>
	<string>dudar</string>
	<key>espellere</key>
	<string>expulsar</string>
	<key>esporre</key>
	<string>exponer</string>
	<key>essere</key>
	<string>ser - estar</string>
	<key>fare</key>
	<string>hacer</string>
	<key>fermare</key>
	<string>Detener</string>
	<key>finire</key>
	<string>terminar</string>
	<key>fumare</key>
	<string>fumar</string>
	<key>giocare</key>
	<string>jugar</string>
	<key>girare</key>
	<string>girar</string>
	<key>guadagnare</key>
	<string>ganar</string>
	<key>guardare</key>
	<string>mirar</string>
	<key>imparare</key>
	<string>aprender</string>
	<key>incontrare</key>
	<string>encontrar</string>
	<key>indossare</key>
	<string>usar</string>
	<key>inghiottire</key>
	<string>tragar</string>
	<key>ingrassare</key>
	<string>engordar</string>
	<key>insegnare</key>
	<string>enseñar</string>
	<key>intervenire</key>
	<string>intervenir</string>
	<key>lasciare</key>
	<string>dejar</string>
	<key>lavare</key>
	<string>lavar</string>
	<key>lavorare</key>
	<string>trabajar</string>
	<key>leggere</key>
	<string>leer</string>
	<key>mancare</key>
	<string>extrañar</string>
	<key>mangiare</key>
	<string>comer</string>
	<key>meritare</key>
	<string>merecer</string>
	<key>mettere</key>
	<string>poner</string>
	<key>mordere</key>
	<string>morder</string>
	<key>morire</key>
	<string>morir</string>
	<key>muovere</key>
	<string>mover</string>
	<key>nascere</key>
	<string>nacer</string>
	<key>nascondere</key>
	<string>ocultar</string>
	<key>nuotare</key>
	<string>nadar</string>
	<key>obbedire</key>
	<string>obedecer</string>
	<key>odiare</key>
	<string>odiar</string>
	<key>offrire</key>
	<string>ofrecer</string>
	<key>ottenere</key>
	<string>obtener</string>
	<key>pagare</key>
	<string>pagar</string>
	<key>parlare</key>
	<string>hablar</string>
	<key>partire</key>
	<string>dejar</string>
	<key>passare</key>
	<string>pasar</string>
	<key>pensare</key>
	<string>pensar</string>
	<key>percorrere</key>
	<string>atravesar</string>
	<key>perdere</key>
	<string>perder</string>
	<key>piacere</key>
	<string>placer</string>
	<key>piangere</key>
	<string>llorar</string>
	<key>piovere</key>
	<string>llover</string>
	<key>porre</key>
	<string>Poner</string>
	<key>portare</key>
	<string>traer</string>
	<key>potere</key>
	<string>poder</string>
	<key>praticare</key>
	<string>practicar</string>
	<key>preferire</key>
	<string>preferir</string>
	<key>prendere</key>
	<string>tomar</string>
	<key>preparare</key>
	<string>preparar</string>
	<key>presentare</key>
	<string>presentar</string>
	<key>proporre</key>
	<string>proponer</string>
	<key>pulire</key>
	<string>limpiar</string>
	<key>raccogliere</key>
	<string>recoger</string>
	<key>recitare</key>
	<string>recitar</string>
	<key>regnare</key>
	<string>reinar</string>
	<key>rendere</key>
	<string>dar</string>
	<key>restare</key>
	<string>permanecer</string>
	<key>ricevere</key>
	<string>recibir</string>
	<key>riconoscere</key>
	<string>reconocer</string>
	<key>ricordare</key>
	<string>recordar</string>
	<key>ridere</key>
	<string>reir</string>
	<key>ridurre</key>
	<string>reducir</string>
	<key>riflettere</key>
	<string>reflejar</string>
	<key>rimanere</key>
	<string>permanecer</string>
	<key>ripassare</key>
	<string>revisar</string>
	<key>ripetere</key>
	<string>repetir</string>
	<key>rispondere</key>
	<string>responder</string>
	<key>ritornare</key>
	<string>devolver</string>
	<key>riuscire</key>
	<string>triunfar</string>
	<key>rompere</key>
	<string>romper</string>
	<key>s(u)onare</key>
	<string>s(u)onare</string>
	<key>salire</key>
	<string>subir</string>
	<key>saltare</key>
	<string>saltar</string>
	<key>sapere</key>
	<string>saber</string>
	<key>scappare</key>
	<string>escapar</string>
	<key>scegliere</key>
	<string>elegir</string>
	<key>scendere</key>
	<string>descender</string>
	<key>scrivere</key>
	<string>escribir</string>
	<key>sedere</key>
	<string>sentar</string>
	<key>seguire</key>
	<string>seguir</string>
	<key>sembrare</key>
	<string>parecer</string>
	<key>sentire</key>
	<string>sentir</string>
	<key>servire</key>
	<string>servir</string>
	<key>sforzare</key>
	<string>esforzarse</string>
	<key>smettere</key>
	<string>abandonar</string>
	<key>sopprimere</key>
	<string>suprimir</string>
	<key>sostenere</key>
	<string>mantener</string>
	<key>sparare</key>
	<string>disparar</string>
	<key>spaventare</key>
	<string>asustar</string>
	<key>spegnere</key>
	<string>apagar</string>
	<key>spendere</key>
	<string>gastar</string>
	<key>sperare</key>
	<string>esperar</string>
	<key>spiegare</key>
	<string>explicar</string>
	<key>stare</key>
	<string>quedarse</string>
	<key>studiare</key>
	<string>estudiar</string>
	<key>succedere</key>
	<string>suceder</string>
	<key>superare</key>
	<string>superar</string>
	<key>suscitare</key>
	<string>despertar</string>
	<key>svegliare</key>
	<string>despertar</string>
	<key>svolgere</key>
	<string>realizar</string>
	<key>tacere</key>
	<string>callar</string>
	<key>telefonare</key>
	<string>llamar</string>
	<key>tenere</key>
	<string>mantener</string>
	<key>tirare</key>
	<string>tirar</string>
	<key>tornare</key>
	<string>devolver</string>
	<key>tradire</key>
	<string>traicionar</string>
	<key>tradurre</key>
	<string>traducir</string>
	<key>trarre</key>
	<string>jalar</string>
	<key>trascorrere</key>
	<string>gastar</string>
	<key>trasmettere</key>
	<string>transmitir</string>
	<key>trovare</key>
	<string>encontrar</string>
	<key>usare</key>
	<string>usar</string>
	<key>uscire</key>
	<string>salir</string>
	<key>vedere</key>
	<string>ver</string>
	<key>vendere</key>
	<string>vender</string>
	<key>venire</key>
	<string>venir</string>
	<key>vestire</key>
	<string>vestir</string>
	<key>viaggiare</key>
	<string>viajar</string>
	<key>vincere</key>
	<string>ganar</string>
	<key>visitare</key>
	<string>visitar</string>
	<key>vivere</key>
	<string>vivir</string>
	<key>volere</key>
	<string>desear</string>
</dict>
</plist>
