<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abitare</key>
	<string>habiter</string>
	<key>accendere</key>
	<string>allumer</string>
	<key>acciuffare</key>
	<string>attraper</string>
	<key>accogliere</key>
	<string>recevoir</string>
	<key>aiutare</key>
	<string>aider</string>
	<key>alzare</key>
	<string>lever</string>
	<key>amare</key>
	<string>aimer</string>
	<key>andare</key>
	<string>aller</string>
	<key>annoiare</key>
	<string>s&apos;ennuyer</string>
	<key>annuire</key>
	<string>acquiescer</string>
	<key>apparire</key>
	<string>apparaître</string>
	<key>applaudire</key>
	<string>applaudir</string>
	<key>apprendere</key>
	<string>apprendre</string>
	<key>aprire</key>
	<string>ouvrir</string>
	<key>arrivare</key>
	<string>arriver</string>
	<key>arrossire</key>
	<string>rougir</string>
	<key>asciugare</key>
	<string>sécher</string>
	<key>ascoltare</key>
	<string>écouter</string>
	<key>aspettare</key>
	<string>attendre</string>
	<key>avere</key>
	<string>avoir</string>
	<key>ballare</key>
	<string>danser</string>
	<key>bastare</key>
	<string>suffire</string>
	<key>bere</key>
	<string>boire</string>
	<key>bisognare</key>
	<string>avoir besoin</string>
	<key>bloccare</key>
	<string>bloquer</string>
	<key>cadere</key>
	<string>tomber</string>
	<key>cambiare</key>
	<string>changer</string>
	<key>cantare</key>
	<string>chanter</string>
	<key>capire</key>
	<string>comprendre</string>
	<key>cenare</key>
	<string>dîner</string>
	<key>cercare</key>
	<string>chercher</string>
	<key>cessare</key>
	<string>cesser</string>
	<key>chiacchierare</key>
	<string>discuter</string>
	<key>chiamare</key>
	<string>appeler</string>
	<key>chiedere</key>
	<string>demander</string>
	<key>chiudere</key>
	<string>fermer</string>
	<key>cogliere</key>
	<string>prendre</string>
	<key>cominciare</key>
	<string>commencer</string>
	<key>commettere</key>
	<string>s&apos;engager</string>
	<key>completare</key>
	<string>compléter</string>
	<key>comprare</key>
	<string>acheter</string>
	<key>condire</key>
	<string>pimenter</string>
	<key>condurre</key>
	<string>conduire</string>
	<key>conoscere</key>
	<string>savoir</string>
	<key>conservare</key>
	<string>conserver</string>
	<key>continuare</key>
	<string>continuer</string>
	<key>correre</key>
	<string>courir</string>
	<key>costruire</key>
	<string>construire</string>
	<key>credere</key>
	<string>croire</string>
	<key>crescere</key>
	<string>grandir</string>
	<key>cucinare</key>
	<string>cuisiner</string>
	<key>cuocere</key>
	<string>cuisiner</string>
	<key>dare</key>
	<string>donner</string>
	<key>decidere</key>
	<string>décider</string>
	<key>dimenticare</key>
	<string>oublier</string>
	<key>dire</key>
	<string>dire</string>
	<key>dirigere</key>
	<string>diriger</string>
	<key>discutere</key>
	<string>discuter</string>
	<key>distrarre</key>
	<string>distraire</string>
	<key>distribuire</key>
	<string>distribuer</string>
	<key>diventare</key>
	<string>devenir</string>
	<key>divertire</key>
	<string>divertir</string>
	<key>dormire</key>
	<string>dormir</string>
	<key>dovere</key>
	<string>devoir</string>
	<key>entrare</key>
	<string>venir</string>
	<key>esitare</key>
	<string>hésiter</string>
	<key>espellere</key>
	<string>excréter</string>
	<key>esporre</key>
	<string>exposer</string>
	<key>essere</key>
	<string>être</string>
	<key>fare</key>
	<string>faire</string>
	<key>fermare</key>
	<string>arrêter</string>
	<key>finire</key>
	<string>terminer</string>
	<key>fumare</key>
	<string>fumer</string>
	<key>giocare</key>
	<string>jouer</string>
	<key>girare</key>
	<string>tourner</string>
	<key>guadagnare</key>
	<string>gagner</string>
	<key>guardare</key>
	<string>regarder</string>
	<key>imparare</key>
	<string>apprendre</string>
	<key>incontrare</key>
	<string>rencontrer</string>
	<key>indossare</key>
	<string>porter</string>
	<key>inghiottire</key>
	<string>avaler</string>
	<key>ingrassare</key>
	<string>grossir</string>
	<key>insegnare</key>
	<string>enseigner</string>
	<key>intervenire</key>
	<string>intervenir</string>
	<key>lasciare</key>
	<string>laisser</string>
	<key>lavare</key>
	<string>laver</string>
	<key>lavorare</key>
	<string>travailler</string>
	<key>leggere</key>
	<string>lire</string>
	<key>mancare</key>
	<string>manquer</string>
	<key>mangiare</key>
	<string>manger</string>
	<key>meritare</key>
	<string>mériter</string>
	<key>mettere</key>
	<string>mettre</string>
	<key>mordere</key>
	<string>mordre</string>
	<key>morire</key>
	<string>mourir</string>
	<key>muovere</key>
	<string>se déplacer</string>
	<key>nascere</key>
	<string>naître</string>
	<key>nascondere</key>
	<string>cacher</string>
	<key>nuotare</key>
	<string>nager</string>
	<key>obbedire</key>
	<string>obéir</string>
	<key>odiare</key>
	<string>détester</string>
	<key>offrire</key>
	<string>offrir</string>
	<key>ottenere</key>
	<string>obtenir</string>
	<key>pagare</key>
	<string>payer</string>
	<key>parlare</key>
	<string>parler</string>
	<key>partire</key>
	<string>partir</string>
	<key>passare</key>
	<string>passer</string>
	<key>pensare</key>
	<string>penser</string>
	<key>percorrere</key>
	<string>traverser</string>
	<key>perdere</key>
	<string>perdre</string>
	<key>piacere</key>
	<string>aimer,  apprécier</string>
	<key>piangere</key>
	<string>pleurer</string>
	<key>piovere</key>
	<string>pleuvoir</string>
	<key>porre</key>
	<string>placer</string>
	<key>portare</key>
	<string>amener</string>
	<key>potere</key>
	<string>pouvoir</string>
	<key>praticare</key>
	<string>s&apos;exercer</string>
	<key>preferire</key>
	<string>préférer</string>
	<key>prendere</key>
	<string>prendre</string>
	<key>preparare</key>
	<string>préparer</string>
	<key>presentare</key>
	<string>présenter</string>
	<key>proporre</key>
	<string>proposer</string>
	<key>pulire</key>
	<string>nettoyer</string>
	<key>raccogliere</key>
	<string>collecter</string>
	<key>recitare</key>
	<string>réciter</string>
	<key>regnare</key>
	<string>régner</string>
	<key>rendere</key>
	<string>retourner</string>
	<key>restare</key>
	<string>rester</string>
	<key>ricevere</key>
	<string>recevoir</string>
	<key>riconoscere</key>
	<string>reconnaître</string>
	<key>ricordare</key>
	<string>se souvenir</string>
	<key>ridere</key>
	<string>rire</string>
	<key>ridurre</key>
	<string>réduire</string>
	<key>riflettere</key>
	<string>réfléchir</string>
	<key>rimanere</key>
	<string>rester</string>
	<key>ripassare</key>
	<string>réviser</string>
	<key>ripetere</key>
	<string>répéter</string>
	<key>rispondere</key>
	<string>répondre</string>
	<key>ritornare</key>
	<string>retourner</string>
	<key>riuscire</key>
	<string>réussir</string>
	<key>rompere</key>
	<string>briser</string>
	<key>s(u)onare</key>
	<string>sonner,  jouer</string>
	<key>salire</key>
	<string>monter</string>
	<key>saltare</key>
	<string>sauter</string>
	<key>sapere</key>
	<string>savoir</string>
	<key>scappare</key>
	<string>fuir</string>
	<key>scegliere</key>
	<string>choisir</string>
	<key>scendere</key>
	<string>descendre</string>
	<key>scrivere</key>
	<string>écrire</string>
	<key>sedere</key>
	<string>asseoir</string>
	<key>seguire</key>
	<string>suivre</string>
	<key>sembrare</key>
	<string>sembler</string>
	<key>sentire</key>
	<string>sentir</string>
	<key>servire</key>
	<string>servir</string>
	<key>sforzare</key>
	<string>s&apos;efforcer</string>
	<key>sopprimere</key>
	<string>tuer,  abolir</string>
	<key>sostenere</key>
	<string>soutenir</string>
	<key>sparare</key>
	<string>tirer</string>
	<key>spaventare</key>
	<string>effrayer</string>
	<key>spegnere</key>
	<string>éteindre</string>
	<key>spendere</key>
	<string>dépenser</string>
	<key>sperare</key>
	<string>espérer</string>
	<key>spiegare</key>
	<string>expliquer</string>
	<key>stare</key>
	<string>rester,  être</string>
	<key>studiare</key>
	<string>étudier</string>
	<key>succedere</key>
	<string>arriver</string>
	<key>superare</key>
	<string>surmonter</string>
	<key>suscitare</key>
	<string>susciter</string>
	<key>svegliare</key>
	<string>se réveiller</string>
	<key>svolgere</key>
	<string>développer</string>
	<key>tacere</key>
	<string>se taire</string>
	<key>telefonare</key>
	<string>téléphoner</string>
	<key>tenere</key>
	<string>tenir</string>
	<key>tirare</key>
	<string>tirer</string>
	<key>tornare</key>
	<string>revenir</string>
	<key>tradire</key>
	<string>trahir</string>
	<key>tradurre</key>
	<string>traduire</string>
	<key>trarre</key>
	<string>tirer</string>
	<key>trascorrere</key>
	<string>dépenser</string>
	<key>trasmettere</key>
	<string>diffuser</string>
	<key>trovare</key>
	<string>trouver</string>
	<key>usare</key>
	<string>utiliser</string>
	<key>uscire</key>
	<string>sortir</string>
	<key>vedere</key>
	<string>voir</string>
	<key>vendere</key>
	<string>vendre</string>
	<key>venire</key>
	<string>venir</string>
	<key>vestire</key>
	<string>s&apos;habiller</string>
	<key>viaggiare</key>
	<string>voyager</string>
	<key>vincere</key>
	<string>gagner</string>
	<key>visitare</key>
	<string>visiter</string>
	<key>vivere</key>
	<string>vivre</string>
	<key>volere</key>
	<string>vouloir</string>
</dict>
</plist>
